<h1>Listing orders</h1>

<table>
  <tr>
    <th>Rerefence</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Description</th>
    <th>Client</th>
    <th>Kind</th>
    <th>Ordered at</th>
    <th>Delivery estimated at</th>
    <th>Delivered at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.rerefence %></td>
    <td><%= order.name %></td>
    <td><%= order.last_name %></td>
    <td><%= order.email %></td>
    <td><%= order.phone %></td>
    <td><%= order.description %></td>
    <td><%= order.client_id %></td>
    <td><%= order.kind_id %></td>
    <td><%= order.ordered_at %></td>
    <td><%= order.delivery_estimated_at %></td>
    <td><%= order.delivered_at %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
